In [254]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Lasso
from sklearn.svm import LinearSVC
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
from sklearn.datasets import make_blobs
import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [255]:
df = pd.read_csv(r'C:\Users\elira\DataScience\projects\project_DB_recruit_restaurant_visitor_forecasting\Final\after_eda\after_eda.csv')
df

,visit_year,visit_week,week_year_visit,restaurant_id,air_store_id,sum_visitors,max_visitors,min_visitors,avg_visitors,count_visitors,...,station_vincenty,station_great_circle,restaurant_latitude,restaurant_longitude,number_of_restaurants_in_area,weekend_visitors,sum_diff_days_between_reserve_visit_category,max_diff_days_between_reserve_visit_category,avg_diff_days_between_reserve_visit_category,min_diff_days_between_reserve_visit_category
0,2016,1,1_2016,8,air_c225148c0fcc5c72,30,30,30,30,1,...,1.277232,1.274882,34.695124,135.197852,57,30,5,5,5,5
1,2016,1,1_2016,17,air_25d8e5cc57dd87d9,1,1,1,1,1,...,5.319959,5.318636,35.661777,139.704051,444,1,5,5,5,5
2,2016,1,1_2016,18,air_1e23210b584540e7,3,3,3,3,1,...,4.211253,4.202990,35.693840,139.703549,444,3,5,5,5,5
3,2016,1,1_2016,35,air_57ed725a1930a5b9,78,45,33,39,2,...,4.211253,4.202990,35.693840,139.703549,444,78,5,5,5,5
4,2016,1,1_2016,47,air_789466e488705c93,272,68,68,68,4,...,2.256617,2.258974,33.319286,130.508374,127,272,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42276,2017,16,16_2017,825,air_70e9e8cd55879414,76,17,3,10,7,...,6.027513,6.025058,35.659397,139.696440,444,152,5,5,5,5
42277,2017,16,16_2017,826,air_8e4360a64dbd4c50,140,36,12,20,7,...,2.736619,2.742844,34.705362,135.510025,74,280,5,5,5,5
42278,2017,16,16_2017,827,air_f6bfd27e2e174d16,92,31,7,15,6,...,5.319959,5.318636,35.661777,139.704051,444,184,5,5,5,5
42279,2017,16,16_2017,828,air_c3dcaf3aeb18e20e,110,28,1,15,7,...,4.535672,4.541093,35.726232,139.723240,444,220,5,5,5,5
42280,2017,16,16_2017,829,air_536043fcf1a4f8a4,207,47,12,29,7,...,0.783208,0.781715,34.681261,135.509801,74,414,5,5,5,5

In [256]:
new_df = df.drop(['air_store_id','station_name','area','genre','week_year_visit','restaurant_id'], axis=1)
new_df

,visit_year,visit_week,sum_visitors,max_visitors,min_visitors,avg_visitors,count_visitors,sum_reserve_visitors,max_reserve_visitors,min_reserve_visitors,...,station_vincenty,station_great_circle,restaurant_latitude,restaurant_longitude,number_of_restaurants_in_area,weekend_visitors,sum_diff_days_between_reserve_visit_category,max_diff_days_between_reserve_visit_category,avg_diff_days_between_reserve_visit_category,min_diff_days_between_reserve_visit_category
0,2016,1,30,30,30,30,1,0,0,0,...,1.277232,1.274882,34.695124,135.197852,57,30,5,5,5,5
1,2016,1,1,1,1,1,1,0,0,0,...,5.319959,5.318636,35.661777,139.704051,444,1,5,5,5,5
2,2016,1,3,3,3,3,1,0,0,0,...,4.211253,4.202990,35.693840,139.703549,444,3,5,5,5,5
3,2016,1,78,45,33,39,2,0,0,0,...,4.211253,4.202990,35.693840,139.703549,444,78,5,5,5,5
4,2016,1,272,68,68,68,4,67,41,6,...,2.256617,2.258974,33.319286,130.508374,127,272,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42276,2017,16,76,17,3,10,7,0,0,0,...,6.027513,6.025058,35.659397,139.696440,444,152,5,5,5,5
42277,2017,16,140,36,12,20,7,0,0,0,...,2.736619,2.742844,34.705362,135.510025,74,280,5,5,5,5
42278,2017,16,92,31,7,15,6,0,0,0,...,5.319959,5.318636,35.661777,139.704051,444,184,5,5,5,5
42279,2017,16,110,28,1,15,7,0,0,0,...,4.535672,4.541093,35.726232,139.723240,444,220,5,5,5,5
42280,2017,16,207,47,12,29,7,0,0,0,...,0.783208,0.781715,34.681261,135.509801,74,414,5,5,5,5

In [257]:
new_df1 = new_df.drop(['sum_visitors'], axis=1)
new_df1

,visit_year,visit_week,max_visitors,min_visitors,avg_visitors,count_visitors,sum_reserve_visitors,max_reserve_visitors,min_reserve_visitors,avg_reserve_visitors,...,station_vincenty,station_great_circle,restaurant_latitude,restaurant_longitude,number_of_restaurants_in_area,weekend_visitors,sum_diff_days_between_reserve_visit_category,max_diff_days_between_reserve_visit_category,avg_diff_days_between_reserve_visit_category,min_diff_days_between_reserve_visit_category
0,2016,1,30,30,30,1,0,0,0,0,...,1.277232,1.274882,34.695124,135.197852,57,30,5,5,5,5
1,2016,1,1,1,1,1,0,0,0,0,...,5.319959,5.318636,35.661777,139.704051,444,1,5,5,5,5
2,2016,1,3,3,3,1,0,0,0,0,...,4.211253,4.202990,35.693840,139.703549,444,3,5,5,5,5
3,2016,1,45,33,39,2,0,0,0,0,...,4.211253,4.202990,35.693840,139.703549,444,78,5,5,5,5
4,2016,1,68,68,68,4,67,41,6,16,...,2.256617,2.258974,33.319286,130.508374,127,272,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42276,2017,16,17,3,10,7,0,0,0,0,...,6.027513,6.025058,35.659397,139.696440,444,152,5,5,5,5
42277,2017,16,36,12,20,7,0,0,0,0,...,2.736619,2.742844,34.705362,135.510025,74,280,5,5,5,5
42278,2017,16,31,7,15,6,0,0,0,0,...,5.319959,5.318636,35.661777,139.704051,444,184,5,5,5,5
42279,2017,16,28,1,15,7,0,0,0,0,...,4.535672,4.541093,35.726232,139.723240,444,220,5,5,5,5
42280,2017,16,47,12,29,7,0,0,0,0,...,0.783208,0.781715,34.681261,135.509801,74,414,5,5,5,5

In [258]:
df_col = new_df1.describe(include ='int64')
df_col.columns

Index(['visit_year', 'visit_week', 'max_visitors', 'min_visitors',
       'avg_visitors', 'count_visitors', 'sum_reserve_visitors',
       'max_reserve_visitors', 'min_reserve_visitors', 'avg_reserve_visitors',
       'count_reserve_visitors', 'holiday_flg_visit', 'holiday_week_visit',
       'number_of_holiday_days_visit', 'area_id', 'genre_id', 'station_id',
       'number_of_restaurants_in_area', 'weekend_visitors',
       'sum_diff_days_between_reserve_visit_category',
       'max_diff_days_between_reserve_visit_category',
       'avg_diff_days_between_reserve_visit_category',
       'min_diff_days_between_reserve_visit_category'],
      dtype='object')

In [259]:
varSel = pd.DataFrame({'Variable': df_col.columns})
varSel

                                        Variable
0                                     visit_year
1                                     visit_week
2                                   max_visitors
3                                   min_visitors
4                                   avg_visitors
5                                 count_visitors
6                           sum_reserve_visitors
7                           max_reserve_visitors
8                           min_reserve_visitors
9                           avg_reserve_visitors
10                        count_reserve_visitors
11                             holiday_flg_visit
12                            holiday_week_visit
13                  number_of_holiday_days_visit
14                                       area_id
15                                      genre_id
16                                    station_id
17                 number_of_restaurants_in_area
18                              weekend_visitors
19  sum_diff_days_between_reserve_visit_category
20  max_diff_days_between_reserve_visit_category
21  avg_diff_days_between_reserve_visit_category
22  min_diff_days_between_reserve_visit_category

In [260]:
nm = df_col.columns
nm = nm.append(pd.Index(['sum_visitors']))
nm

Index(['visit_year', 'visit_week', 'max_visitors', 'min_visitors',
       'avg_visitors', 'count_visitors', 'sum_reserve_visitors',
       'max_reserve_visitors', 'min_reserve_visitors', 'avg_reserve_visitors',
       'count_reserve_visitors', 'holiday_flg_visit', 'holiday_week_visit',
       'number_of_holiday_days_visit', 'area_id', 'genre_id', 'station_id',
       'number_of_restaurants_in_area', 'weekend_visitors',
       'sum_diff_days_between_reserve_visit_category',
       'max_diff_days_between_reserve_visit_category',
       'avg_diff_days_between_reserve_visit_category',
       'min_diff_days_between_reserve_visit_category', 'sum_visitors'],
      dtype='object')

In [261]:
df2 = df[nm].copy()
df2.head()

,visit_year,visit_week,max_visitors,min_visitors,avg_visitors,count_visitors,sum_reserve_visitors,max_reserve_visitors,min_reserve_visitors,avg_reserve_visitors,...,area_id,genre_id,station_id,number_of_restaurants_in_area,weekend_visitors,sum_diff_days_between_reserve_visit_category,max_diff_days_between_reserve_visit_category,avg_diff_days_between_reserve_visit_category,min_diff_days_between_reserve_visit_category,sum_visitors
0,2016,1,30,30,30,1,0,0,0,0,...,1,4,15,57,30,5,5,5,5,30
1,2016,1,1,1,1,1,0,0,0,0,...,9,1,37,444,1,5,5,5,5,1
2,2016,1,3,3,3,1,0,0,0,0,...,9,9,37,444,3,5,5,5,5,3
3,2016,1,45,33,39,2,0,0,0,0,...,9,4,37,444,78,5,5,5,5,78
4,2016,1,68,68,68,4,67,41,6,16,...,8,13,4,127,272,1,1,1,1,272

In [262]:
X = df2.iloc[:,:-1]
X.head()

,visit_year,visit_week,max_visitors,min_visitors,avg_visitors,count_visitors,sum_reserve_visitors,max_reserve_visitors,min_reserve_visitors,avg_reserve_visitors,...,number_of_holiday_days_visit,area_id,genre_id,station_id,number_of_restaurants_in_area,weekend_visitors,sum_diff_days_between_reserve_visit_category,max_diff_days_between_reserve_visit_category,avg_diff_days_between_reserve_visit_category,min_diff_days_between_reserve_visit_category
0,2016,1,30,30,30,1,0,0,0,0,...,2,1,4,15,57,30,5,5,5,5
1,2016,1,1,1,1,1,0,0,0,0,...,2,9,1,37,444,1,5,5,5,5
2,2016,1,3,3,3,1,0,0,0,0,...,2,9,9,37,444,3,5,5,5,5
3,2016,1,45,33,39,2,0,0,0,0,...,2,9,4,37,444,78,5,5,5,5
4,2016,1,68,68,68,4,67,41,6,16,...,2,8,13,4,127,272,1,1,1,1

In [263]:
y = df2.iloc[:,-1:]
y.head()

   sum_visitors
0            30
1             1
2             3
3            78
4           272

### Variable Selection using LASSO (L1 penalization)

In [264]:
lassomod = Lasso(alpha=0.01).fit(X, y.values.ravel())

In [265]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([ True,  True,  True,  True,  True,  True,  True, False, False,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True, False, False,  True])

In [266]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

                                        Variable  Lasso
0                                     visit_year      1
1                                     visit_week      1
2                                   max_visitors      1
3                                   min_visitors      1
4                                   avg_visitors      1
5                                 count_visitors      1
6                           sum_reserve_visitors      1
7                           max_reserve_visitors      0
8                           min_reserve_visitors      0
9                           avg_reserve_visitors      1
10                        count_reserve_visitors      1
11                             holiday_flg_visit      1
12                            holiday_week_visit      0
13                  number_of_holiday_days_visit      1
14                                       area_id      1
15                                      genre_id      1
16                                    station_id      0
17                 number_of_restaurants_in_area      1
18                              weekend_visitors      1
19  sum_diff_days_between_reserve_visit_category      1
20  max_diff_days_between_reserve_visit_category      0
21  avg_diff_days_between_reserve_visit_category      0
22  min_diff_days_between_reserve_visit_category      1

### Variable Selection using XGboost

In [267]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10).fit(X,y.values.ravel())

[12:51:50] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/objective/regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.

In [268]:
model = SelectFromModel(xg_reg, prefit=True)
model.get_support()

array([False, False, False,  True,  True,  True,  True, False, False,
        True,  True, False, False, False, False, False, False, False,
        True, False, False, False, False])

In [269]:
varSel['XGboost'] = model.get_support().astype('int64')
varSel

                                        Variable  Lasso  XGboost
0                                     visit_year      1        0
1                                     visit_week      1        0
2                                   max_visitors      1        0
3                                   min_visitors      1        1
4                                   avg_visitors      1        1
5                                 count_visitors      1        1
6                           sum_reserve_visitors      1        1
7                           max_reserve_visitors      0        0
8                           min_reserve_visitors      0        0
9                           avg_reserve_visitors      1        1
10                        count_reserve_visitors      1        1
11                             holiday_flg_visit      1        0
12                            holiday_week_visit      0        0
13                  number_of_holiday_days_visit      1        0
14                                       area_id      1        0
15                                      genre_id      1        0
16                                    station_id      0        0
17                 number_of_restaurants_in_area      1        0
18                              weekend_visitors      1        1
19  sum_diff_days_between_reserve_visit_category      1        0
20  max_diff_days_between_reserve_visit_category      0        0
21  avg_diff_days_between_reserve_visit_category      0        0
22  min_diff_days_between_reserve_visit_category      1        0

### Summarization and Selection of Variables

In [270]:
varSel['Sum'] = np.sum(varSel,axis=1)
varSel

                                        Variable  Lasso  XGboost  Sum
0                                     visit_year      1        0    1
1                                     visit_week      1        0    1
2                                   max_visitors      1        0    1
3                                   min_visitors      1        1    2
4                                   avg_visitors      1        1    2
5                                 count_visitors      1        1    2
6                           sum_reserve_visitors      1        1    2
7                           max_reserve_visitors      0        0    0
8                           min_reserve_visitors      0        0    0
9                           avg_reserve_visitors      1        1    2
10                        count_reserve_visitors      1        1    2
11                             holiday_flg_visit      1        0    1
12                            holiday_week_visit      0        0    0
13                  number_of_holiday_days_visit      1        0    1
14                                       area_id      1        0    1
15                                      genre_id      1        0    1
16                                    station_id      0        0    0
17                 number_of_restaurants_in_area      1        0    1
18                              weekend_visitors      1        1    2
19  sum_diff_days_between_reserve_visit_category      1        0    1
20  max_diff_days_between_reserve_visit_category      0        0    0
21  avg_diff_days_between_reserve_visit_category      0        0    0
22  min_diff_days_between_reserve_visit_category      1        0    1

In [271]:
varSel.groupby('Sum')['Variable'].count()

Sum
0     6
1    10
2     7
Name: Variable, dtype: int64

In [272]:
# We can now decide a threshold for selecting our variables!

In [273]:
varSel[varSel['Sum']>=1]

                                        Variable  Lasso  XGboost  Sum
0                                     visit_year      1        0    1
1                                     visit_week      1        0    1
2                                   max_visitors      1        0    1
3                                   min_visitors      1        1    2
4                                   avg_visitors      1        1    2
5                                 count_visitors      1        1    2
6                           sum_reserve_visitors      1        1    2
9                           avg_reserve_visitors      1        1    2
10                        count_reserve_visitors      1        1    2
11                             holiday_flg_visit      1        0    1
13                  number_of_holiday_days_visit      1        0    1
14                                       area_id      1        0    1
15                                      genre_id      1        0    1
17                 number_of_restaurants_in_area      1        0    1
18                              weekend_visitors      1        1    2
19  sum_diff_days_between_reserve_visit_category      1        0    1
22  min_diff_days_between_reserve_visit_category      1        0    1

In [274]:
variables = varSel[varSel['Sum']>=1].iloc[:, [0]]
variables

                                        Variable
0                                     visit_year
1                                     visit_week
2                                   max_visitors
3                                   min_visitors
4                                   avg_visitors
5                                 count_visitors
6                           sum_reserve_visitors
9                           avg_reserve_visitors
10                        count_reserve_visitors
11                             holiday_flg_visit
13                  number_of_holiday_days_visit
14                                       area_id
15                                      genre_id
17                 number_of_restaurants_in_area
18                              weekend_visitors
19  sum_diff_days_between_reserve_visit_category
22  min_diff_days_between_reserve_visit_category

In [275]:
variables_to_columns = variables.transpose().iloc[:].head()
df_variables_to_columns = pd.DataFrame(variables_to_columns)
sum_visitors = ['sum_visitors']
df_variables_to_columns['sum_visitors'] = sum_visitors
df_variables_to_columns.to_csv(r'C:\Users\elira\DataScience\projects\project_DB_recruit_restaurant_visitor_forecasting\Final\Feature_Selection\1st\first_variables_data.csv',index = False)
df_variables_to_columns

,0,1,2,3,4,5,6,9,10,11,13,14,15,17,18,19,22,sum_visitors
Variable,visit_year,visit_week,max_visitors,min_visitors,avg_visitors,count_visitors,sum_reserve_visitors,avg_reserve_visitors,count_reserve_visitors,holiday_flg_visit,number_of_holiday_days_visit,area_id,genre_id,number_of_restaurants_in_area,weekend_visitors,sum_diff_days_between_reserve_visit_category,min_diff_days_between_reserve_visit_category,sum_visitors

In [276]:
top_columns = pd.read_csv(r'C:\Users\elira\DataScience\projects\project_DB_recruit_restaurant_visitor_forecasting\Final\Feature_Selection\1st\first_variables_data.csv',header = 1 ).columns
top_columns

Index(['visit_year', 'visit_week', 'max_visitors', 'min_visitors',
       'avg_visitors', 'count_visitors', 'sum_reserve_visitors',
       'avg_reserve_visitors', 'count_reserve_visitors', 'holiday_flg_visit',
       'number_of_holiday_days_visit', 'area_id', 'genre_id',
       'number_of_restaurants_in_area', 'weekend_visitors',
       'sum_diff_days_between_reserve_visit_category',
       'min_diff_days_between_reserve_visit_category', 'sum_visitors'],
      dtype='object')

In [277]:
df_After_Feature_Selection = pd.DataFrame(new_df[top_columns])
df_After_Feature_Selection.to_csv(r'C:\Users\elira\DataScience\projects\project_DB_recruit_restaurant_visitor_forecasting\Final\Feature_Selection\1st\First_Feature_Selection.csv',index = False)
df_After_Feature_Selection

,visit_year,visit_week,max_visitors,min_visitors,avg_visitors,count_visitors,sum_reserve_visitors,avg_reserve_visitors,count_reserve_visitors,holiday_flg_visit,number_of_holiday_days_visit,area_id,genre_id,number_of_restaurants_in_area,weekend_visitors,sum_diff_days_between_reserve_visit_category,min_diff_days_between_reserve_visit_category,sum_visitors
0,2016,1,30,30,30,1,0,0,0,1,2,1,4,57,30,5,5,30
1,2016,1,1,1,1,1,0,0,0,1,2,9,1,444,1,5,5,1
2,2016,1,3,3,3,1,0,0,0,1,2,9,9,444,3,5,5,3
3,2016,1,45,33,39,2,0,0,0,1,2,9,4,444,78,5,5,78
4,2016,1,68,68,68,4,67,16,4,1,2,8,13,127,272,1,1,272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42276,2017,16,17,3,10,7,0,0,0,0,0,9,6,444,152,5,5,76
42277,2017,16,36,12,20,7,0,0,0,0,0,4,4,74,280,5,5,140
42278,2017,16,31,7,15,6,0,0,0,0,0,9,13,444,184,5,5,92
42279,2017,16,28,1,15,7,0,0,0,0,0,9,6,444,220,5,5,110
42280,2017,16,47,12,29,7,0,0,0,0,0,4,6,74,414,5,5,207