In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import LinearSVC
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import xgboost as xgb

In [2]:
df = pd.read_csv(r'C:\Users\elira\DataScience\projects\project_DB_recruit_restaurant_visitor_forecasting\Final\Feature_Selection\1st\First_Feature_Selection.csv')
df

,visit_year,visit_week,max_visitors,min_visitors,avg_visitors,count_visitors,sum_reserve_visitors,avg_reserve_visitors,count_reserve_visitors,holiday_flg_visit,number_of_holiday_days_visit,area_id,genre_id,number_of_restaurants_in_area,weekend_visitors,sum_diff_days_between_reserve_visit_category,min_diff_days_between_reserve_visit_category,sum_visitors
0,2016,1,30,30,30,1,0,0,0,1,2,1,4,57,30,5,5,30
1,2016,1,1,1,1,1,0,0,0,1,2,9,1,444,1,5,5,1
2,2016,1,3,3,3,1,0,0,0,1,2,9,9,444,3,5,5,3
3,2016,1,45,33,39,2,0,0,0,1,2,9,4,444,78,5,5,78
4,2016,1,68,68,68,4,67,16,4,1,2,8,13,127,272,1,1,272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42276,2017,16,17,3,10,7,0,0,0,0,0,9,6,444,152,5,5,76
42277,2017,16,36,12,20,7,0,0,0,0,0,4,4,74,280,5,5,140
42278,2017,16,31,7,15,6,0,0,0,0,0,9,13,444,184,5,5,92
42279,2017,16,28,1,15,7,0,0,0,0,0,9,6,444,220,5,5,110
42280,2017,16,47,12,29,7,0,0,0,0,0,4,6,74,414,5,5,207

In [3]:
df_col = df.describe(include ='int64')
df_col.columns

Index(['visit_year', 'visit_week', 'max_visitors', 'min_visitors',
       'avg_visitors', 'count_visitors', 'sum_reserve_visitors',
       'avg_reserve_visitors', 'count_reserve_visitors', 'holiday_flg_visit',
       'number_of_holiday_days_visit', 'area_id', 'genre_id',
       'number_of_restaurants_in_area', 'weekend_visitors',
       'sum_diff_days_between_reserve_visit_category',
       'min_diff_days_between_reserve_visit_category', 'sum_visitors'],
      dtype='object')

In [4]:
varSel = pd.DataFrame({'Variable': df_col.columns[:-1]})
varSel

                                        Variable
0                                     visit_year
1                                     visit_week
2                                   max_visitors
3                                   min_visitors
4                                   avg_visitors
5                                 count_visitors
6                           sum_reserve_visitors
7                           avg_reserve_visitors
8                         count_reserve_visitors
9                              holiday_flg_visit
10                  number_of_holiday_days_visit
11                                       area_id
12                                      genre_id
13                 number_of_restaurants_in_area
14                              weekend_visitors
15  sum_diff_days_between_reserve_visit_category
16  min_diff_days_between_reserve_visit_category

In [5]:
X = df.iloc[:,:-1]
X.head()

,visit_year,visit_week,max_visitors,min_visitors,avg_visitors,count_visitors,sum_reserve_visitors,avg_reserve_visitors,count_reserve_visitors,holiday_flg_visit,number_of_holiday_days_visit,area_id,genre_id,number_of_restaurants_in_area,weekend_visitors,sum_diff_days_between_reserve_visit_category,min_diff_days_between_reserve_visit_category
0,2016,1,30,30,30,1,0,0,0,1,2,1,4,57,30,5,5
1,2016,1,1,1,1,1,0,0,0,1,2,9,1,444,1,5,5
2,2016,1,3,3,3,1,0,0,0,1,2,9,9,444,3,5,5
3,2016,1,45,33,39,2,0,0,0,1,2,9,4,444,78,5,5
4,2016,1,68,68,68,4,67,16,4,1,2,8,13,127,272,1,1

In [6]:
y = df.iloc[:,-1:]
y.head()

   sum_visitors
0            30
1             1
2             3
3            78
4           272

### Variable Selection using SVM classification

In [7]:
svmmod = LinearSVC(C=0.01, penalty="l1",dual=False).fit(X, y.values.ravel())

In [8]:
model = SelectFromModel(svmmod, prefit=True)
model.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True])

In [9]:
varSel['SVM'] = model.get_support().astype('int64')
varSel

                                        Variable  SVM
0                                     visit_year    1
1                                     visit_week    1
2                                   max_visitors    1
3                                   min_visitors    1
4                                   avg_visitors    1
5                                 count_visitors    1
6                           sum_reserve_visitors    1
7                           avg_reserve_visitors    1
8                         count_reserve_visitors    1
9                              holiday_flg_visit    0
10                  number_of_holiday_days_visit    1
11                                       area_id    1
12                                      genre_id    1
13                 number_of_restaurants_in_area    1
14                              weekend_visitors    1
15  sum_diff_days_between_reserve_visit_category    1
16  min_diff_days_between_reserve_visit_category    1

### Summarization and Selection of Variables

In [10]:
varSel['Sum'] = np.sum(varSel,axis=1)
varSel

                                        Variable  SVM  Sum
0                                     visit_year    1    1
1                                     visit_week    1    1
2                                   max_visitors    1    1
3                                   min_visitors    1    1
4                                   avg_visitors    1    1
5                                 count_visitors    1    1
6                           sum_reserve_visitors    1    1
7                           avg_reserve_visitors    1    1
8                         count_reserve_visitors    1    1
9                              holiday_flg_visit    0    0
10                  number_of_holiday_days_visit    1    1
11                                       area_id    1    1
12                                      genre_id    1    1
13                 number_of_restaurants_in_area    1    1
14                              weekend_visitors    1    1
15  sum_diff_days_between_reserve_visit_category    1    1
16  min_diff_days_between_reserve_visit_category    1    1

In [11]:
varSel.groupby('Sum')['Variable'].count()

Sum
0     1
1    16
Name: Variable, dtype: int64

In [12]:
# We can now decide a threshold for selecting our variables!

In [13]:
varSel[varSel['Sum']>=1]

                                        Variable  SVM  Sum
0                                     visit_year    1    1
1                                     visit_week    1    1
2                                   max_visitors    1    1
3                                   min_visitors    1    1
4                                   avg_visitors    1    1
5                                 count_visitors    1    1
6                           sum_reserve_visitors    1    1
7                           avg_reserve_visitors    1    1
8                         count_reserve_visitors    1    1
10                  number_of_holiday_days_visit    1    1
11                                       area_id    1    1
12                                      genre_id    1    1
13                 number_of_restaurants_in_area    1    1
14                              weekend_visitors    1    1
15  sum_diff_days_between_reserve_visit_category    1    1
16  min_diff_days_between_reserve_visit_category    1    1

In [14]:
variables = varSel[varSel['Sum']>=1].iloc[:, [0]]
variables

                                        Variable
0                                     visit_year
1                                     visit_week
2                                   max_visitors
3                                   min_visitors
4                                   avg_visitors
5                                 count_visitors
6                           sum_reserve_visitors
7                           avg_reserve_visitors
8                         count_reserve_visitors
10                  number_of_holiday_days_visit
11                                       area_id
12                                      genre_id
13                 number_of_restaurants_in_area
14                              weekend_visitors
15  sum_diff_days_between_reserve_visit_category
16  min_diff_days_between_reserve_visit_category

In [15]:
variables_to_columns = variables.transpose().iloc[:].head()
df_variables_to_columns = pd.DataFrame(variables_to_columns)
sum_visitors = ['sum_visitors']
df_variables_to_columns['sum_visitors'] = sum_visitors
df_variables_to_columns.to_csv(r'C:\Users\elira\DataScience\projects\project_DB_recruit_restaurant_visitor_forecasting\Final\Feature_Selection\2nd\second_variables_data.csv',index = False)
df_variables_to_columns

,0,1,2,3,4,5,6,7,8,10,11,12,13,14,15,16,sum_visitors
Variable,visit_year,visit_week,max_visitors,min_visitors,avg_visitors,count_visitors,sum_reserve_visitors,avg_reserve_visitors,count_reserve_visitors,number_of_holiday_days_visit,area_id,genre_id,number_of_restaurants_in_area,weekend_visitors,sum_diff_days_between_reserve_visit_category,min_diff_days_between_reserve_visit_category,sum_visitors

In [16]:
top_columns = pd.read_csv(r'C:\Users\elira\DataScience\projects\project_DB_recruit_restaurant_visitor_forecasting\Final\Feature_Selection\2nd\second_variables_data.csv',header = 1 ).columns
top_columns

Index(['visit_year', 'visit_week', 'max_visitors', 'min_visitors',
       'avg_visitors', 'count_visitors', 'sum_reserve_visitors',
       'avg_reserve_visitors', 'count_reserve_visitors',
       'number_of_holiday_days_visit', 'area_id', 'genre_id',
       'number_of_restaurants_in_area', 'weekend_visitors',
       'sum_diff_days_between_reserve_visit_category',
       'min_diff_days_between_reserve_visit_category', 'sum_visitors'],
      dtype='object')

In [17]:
df_After_Feature_Selection = pd.DataFrame(df[top_columns])
df_After_Feature_Selection.to_csv(r'C:\Users\elira\DataScience\projects\project_DB_recruit_restaurant_visitor_forecasting\Final\Feature_Selection\2nd\Second_Feature_Selection.csv',index = False)
df_After_Feature_Selection

,visit_year,visit_week,max_visitors,min_visitors,avg_visitors,count_visitors,sum_reserve_visitors,avg_reserve_visitors,count_reserve_visitors,number_of_holiday_days_visit,area_id,genre_id,number_of_restaurants_in_area,weekend_visitors,sum_diff_days_between_reserve_visit_category,min_diff_days_between_reserve_visit_category,sum_visitors
0,2016,1,30,30,30,1,0,0,0,2,1,4,57,30,5,5,30
1,2016,1,1,1,1,1,0,0,0,2,9,1,444,1,5,5,1
2,2016,1,3,3,3,1,0,0,0,2,9,9,444,3,5,5,3
3,2016,1,45,33,39,2,0,0,0,2,9,4,444,78,5,5,78
4,2016,1,68,68,68,4,67,16,4,2,8,13,127,272,1,1,272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42276,2017,16,17,3,10,7,0,0,0,0,9,6,444,152,5,5,76
42277,2017,16,36,12,20,7,0,0,0,0,4,4,74,280,5,5,140
42278,2017,16,31,7,15,6,0,0,0,0,9,13,444,184,5,5,92
42279,2017,16,28,1,15,7,0,0,0,0,9,6,444,220,5,5,110
42280,2017,16,47,12,29,7,0,0,0,0,4,6,74,414,5,5,207